/* home_inicio*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #1c78e0;
    border-bottom: 5px solid #fff;
}

    
.menu , ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    font-weight: bold;

    
}

.menu_menu , li, a{
    display: inline-block;
    padding:0.5rem 2rem;
    justify-content: center;
    font-size: 1.1rem;
    color:#fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.menu_menu li a:hover{
    color:#2427e4;
    background: #fff;
    font-weight: bold;
}

.titulo{
padding: 1rem;
display: flex;
align-items: center;
justify-content: space-around;

}
.imagenHuella{
    width: 8%;
    border: none;
     
}

body{
background-color: #8d98f5;
}

h1{
    color:#fff;
    text-align: center;
    padding: 1.5rem 0;
    text-transform: uppercase;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
    border:1px solid #fff
}

.contenedor1{
max-width: 1200px;
display: grid;
grid-template-columns: repeat(3 , 1fr);
grid-gap:.8rem;
margin:0 auto;
justify-content: center; 
}

@media (max-width:900px) and (max-width:1200px){
    .contenedor1{
        grid-template-columns: repeat(2 , 1fr);
    }
}

@media (max-width:600px){
    .contenedor1{
        grid-template-columns: repeat(1 , 1fr);
    }
}


.raza > h2{
    margin: 0 auto;
    background-color: #1c78e0;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    border: 1px solid #fff;
}

.raza a{
    display: inline-block;
    text-decoration: none;
    background-color: #1c78e0;
    padding: 1rem;
    margin-bottom:.6rem;
    color:#fff;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: .5rem;
}

.raza a:hover{
    background-color: #2427e4;
}

footer{
    margin: 1rem 0rem;
    background-color: #2427e4;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    border-top: 5px solid #fff;
}

.imagenFooter{
    width:10%;
    border: none;

}

.textoFooter{ 
    padding: 2rem 0;
    color:#fff;
    text-align: center;
    font-weight: bold ;
}

/* home_fin*/
/* razas_seccionimagenapi_inicio*/

.apirest{
    color: #fff;
}

.imagenApi{
    display:flexbox;
}

.api{
    width: 50%;
}

/* razas_seccionimagenapi_fin*/
/* razas_seccionlistado_inicio*/

.contenedor_razas ol{
    display: block;
    margin:1rem 4rem;
    padding: 1rem;
    list-style-type:disc;
    font-size: 1.5rem;
}

.contenedor_razas a{
    line-height: 3.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
}

.contenedor_razas a:hover{
    text-decoration: underline;
}

/* razas_seccionlistado_fin*/
/* veterinarias_inicio*/

.iframe {
    width: 50%;
    margin-left: 2rem;
}

.veterinarias a{
    font-size: 1rem;
    color: #03054d;
    text-decoration:underline;
}

.veterinaria, a:hover{
    color: #343add;
} 


.subTitulo {
    background-color: #0b7534;
    padding: 1rem 0;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
}

.conteiner{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    justify-content:space-around;
    grid-gap: 1rem;
    margin:0 auto;
   
}

@media (max-width:800px) and (max-width:1200px){
    .conteiner{
        grid-template-columns: repeat(1 , 1fr);
        width: 50%;
    }
}

.subTitulo > h2{ 
    padding-bottom: .5rem;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Anton', sans-serif;
}


h3{
    padding: 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* veterinarias_fin */