{% extends "core/base.html" %}
{% load static %}
{% block titulo_tab %} Veterinarias {% endblock %}
{% block titulo %} veterinarias {% endblock %}
{% block contenido%} 
<div class="subTitulo">
    <h2>Para cuida la salud de tus mascotas</h2>
    <h2>Te recomendamos las siguientes veterinarias</h2>
</div>

<div class="conteiner">

    <div class="iframe">
        <h3>Veterinaria La Cucha </h3>
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d222.5359246146368!2d-65.23128354670361!3d-26.821664524367925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94225c5fa328f485%3A0x1293b9096dadb4db!2sLa%20Cucha%20Veterinaria!5e0!3m2!1ses!2sar!4v1684293361369!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
        <div class="veterinarias" >
            <a href="https://pency.app/lacucha", target="_blank">Ir a Veterinaria La Cucha</a>   
        </div>
    </div>

    <div class="iframe">
        <h3>Clínica Veterinaria La Luna</h3>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d890.107121161086!2d-65.20090134308361!3d-26.826320628447885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94225c1a27bbfffb%3A0xb070b33c6ee1a47d!2sCl%C3%ADnica%20Veterinaria%20La%20Luna!5e0!3m2!1ses!2sar!4v1684293520221!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div class="veterinarias" >
        <a href="https://clinica-veterinaria-la-luna.negocio.site/", target="_blank">Ir a Clínica Veterinaria La Luna</a>   
    </div>
    </div>

    <div class="iframe">
        <h3>Clínica Veterinaria Aconquija</h3>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d445.11488091676773!2d-65.30388869495391!3d-26.810706141008104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942242dc0623ddfb%3A0x22543aa5fee65abc!2sCl%C3%ADnica%20Veterinaria%20Aconquija!5e0!3m2!1ses!2sar!4v1684293855720!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <div class="veterinarias" >
            <a href="https://www.instagram.com/veterinaria.aconquija/", target="_blank">Ir a Clínica Veterinaria Aconquija</a>   
        </div>
    </div>

    <div class="iframe">
        <h3>Clínica Veterinaria Mundo Mascota</h3>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d445.1121061329151!2d-65.29697767953012!3d-26.81141288827948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942242cee35783b1%3A0xe076acdce50dc2d2!2sCl%C3%ADnica%20Veterinaria%20Mundo%20Mascota!5e0!3m2!1ses!2sar!4v1684294016618!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <div class="veterinarias" >
            <a href="https://mundomascotashop.com.ar/", target="_blank">Ir a Clínica Veterinaria Aconquija</a>   
        </div>
    </div>

    <div class="iframe">
        <h3>Animalia Clínica Veterinaria</h3>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d890.1984157377444!2d-65.22111214150667!3d-26.81469789537163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94225d539453dca9%3A0x1fb5263d304d4046!2sAnimalia%20Clinica%20Veterinaria!5e0!3m2!1ses!2sar!4v1684294191731!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <div class="veterinarias" >
            <a href="https://www.facebook.com/vet.animalia.tuc", target="_blank">Ir a Animalia Clínica Veterinaria</a>   
        </div>
    </div>

    <div class="iframe">
        <h3>Veterinaria Cruz Morada</h3>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.917165906905!2d-65.21062230671613!3d-26.84258682465066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94225c0a4f775019%3A0xbe4da4d961c50f95!2sVeterinaria%20Cruz%20Morada!5e0!3m2!1ses!2sar!4v1684294415770!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <div class="veterinarias" >
            <a href="https://www.facebook.com/veterinaria.cruzmorada.srl/?locale=es_LA", target="_blank">Ir a Veterinaria Cruz Morada</a>   
        </div>
    </div>
</div>
{% endblock %} 
